# This is a basic workflow to help you get started with Actions
# GitHub actions
name: CI example

on [push]

jobs:
  build

  container: circleci/python:3.7

  steps:
  #Step 1: obtenemos codigo fuente
  - name: Setup file system permissions
  - run: sudo chmod -R 777 $GITHUB_WORKSPACE /github /__w/_temp
  - uses: actions/checkout@v2
  # Step 2: creamos venv e instalamos dependencias
  - name: Install dependencies
  - run: python3 -m venv venv
  - run: source venv/bin/activate
  - run: pip install -r requirements.txt
  # Step 3: ejecutamos linters y flake8 y lanzamos casos de prueba
  - name: run tests
  - run: source venv/bin/activate
  - run: flake8 --exclude=venv* --statistics
  - run: pytest -v
